/*Estilos  genericos*/
*{
    margin: 0;
    padding: 0;
}
/*Estilos de etiquetas semanticas */
header{
    background-color: #ea1b1b;
    margin:5px;
    border-radius: 15px;
}
p{
    font-family: arial, sans-serif;
    font-size:20px;
}
main{
    width: 80%;
    margin: auto;
}
section{
    padding: 20px;
}
h2{
   padding: 30px;
   background-color: aliceblue;
   font-size:2em;
   text-align: center;
   font-weight: normal;
}
article{
    padding: 100px;
    text-align: center;
    background: #ea1b1b;
    margin-bottom: 20px;
    height: 30px;/*Le tuve que poner el mismo alto a todo porque sino la caja de mapa de hospitales que quedaba mas alto porque por defoult tienen el alto del contenido */
    box-sizing: border-box
    
}
footer{
    padding: 60px;
    margin:5px;
    border-radius: 15px;
}


/*Estilos de clase*/

.contenedorheader{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}

.contenedorslaider{
   display:block;
   height: 200px; /*Aca tuve que darle alto, pero no es lo correcto me parece*/
   text-align: center; 
}

/*Linea con tres columnas que informa Enfermedades, Hospitales y Vacunas*/
/*Cuando reduzco la pantalla se ve que  las tres columnas sobrepasan los limites del main*/
.contenedor{
   display: flex;
   flex-direction: row; /* no es necesario ponerlo es la opcion por de defoult*/
   justify-content:space-around;
   align-items:flex-start;
   flex-wrap: nowrap; /*redestribuye los elementos para que entren en una sola linea tmb es por defoult*/
}
.contenedorllamado{
    display: flex;
    justify-content:space-around;
    background-color:#ea1b1b;

}

.contenedorfooter{
    display: flex;
    justify-content: space-between;
    background-color:#ea1b1b;
    margin-top: 10px;

}
/*menu del index, que se replicara en todas las paginas*/
.menu{
     background-color: #ea1b1b;
     border-radius: 15px;
     margin:5px;
}
.menu ul{ /* el ul funcionaria como contenedor*/
    display: flex;
    justify-content: center;
}
.menu li{
    list-style: none; /* pasa sacar los puntos de los li*/
}
.menu a{
    text-decoration: none; /*saca el subrayado*/
    color:#fff;
    padding: 20px;
    display: block; /*hace que los a se comporten como un bloque, para que se les aplique el padding*/
}
.menu a:hover{
    background-color: #fff;
    color: #000;
}
/*Estilos de id*/
